@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");

h1 {
  font-family: "Space Grotesk", sans-serif;
  font-size: 50px;
  margin-top: 10px;
  margin-bottom: 30px;
}

a {
  font-family: "Space Grotesk", sans-serif;
  font-size: 30px;
  border: solid 4px black;
  padding: 5px 10px;
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  box-shadow: midnightblue 3px 3px;
}
