<ng-container *ngIf="preset">
  <div class="container-settings">
    <h3>ADSR</h3>
    <app-slider [sliderParam]="propSliderAttack"></app-slider>
    <app-slider [sliderParam]="propSliderDecay"></app-slider>
    <app-slider [sliderParam]="propSliderSustain"></app-slider>
    <app-slider [sliderParam]="propSliderRelease"></app-slider>
  </div>
  <div class="container-settings">
    <h3>Effects</h3>
    <app-slider [sliderParam]="propSliderPanner"></app-slider>
    <app-slider [sliderParam]="propSliderFilter"></app-slider>
  </div>
  <div>
    <div class="container-settings">
      <h3>Waveform</h3>
      <div class="btn-container">
        <button
          *ngFor="let waveForm of waveForms"
          [ngStyle]="{
            'background-color':
              preset.waveForm == waveForm.name ? 'red' : 'white'
          }"
          (click)="changeWaveForm(waveForm)"
        >
          {{ waveForm.symbol }}
        </button>
      </div>
    </div>
    <div class="container-settings">
      <h3>Master</h3>
      <app-slider [sliderParam]="propSliderVolume"></app-slider>
    </div>
  </div>
  <button (click)="savePreset(2)">SET</button>
  <button (click)="loadPreset(2)">GET</button>
</ng-container>
